<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejercicio 1</title>
</head>

<body>
    <h1>Registro completado con éxito!</h1>
    <p>Datos del nuevo usuario registrado:</p>
    <p>DNI: <%= dni %>
    </p>
    <p>Nombre: <%= nombre %>
    </p>
    <p>Apellidos: <%= apellidos %>
    </p>
    <p>Contraseña: <%= contrasena %>
    </p>
    <p>Email: <%= email %>
    </p>
    <p>Teléfono: <%= tlfno %>
    </p>
</body>

</html>